blinker==1.7.0
certifi @ file:///croot/certifi_1707229174982/work/certifi
cffi @ file:///croot/cffi_1700254295673/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
conda @ file:///croot/conda_1710772050586/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1702997573971/work/src
conda-package-handling @ file:///work/perseverance-python-buildout/croot/conda-package-handling_1698851267218/work
conda_package_streaming @ file:///work/perseverance-python-buildout/croot/conda-package-streaming_1698847176583/work
Flask==3.0.2
gunicorn==21.2.0
idna @ file:///work/perseverance-python-buildout/croot/idna_1698845632828/work
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
jsonpointer==2.1
MarkupSafe==2.1.5
numpy==1.26.4
packaging @ file:///work/perseverance-python-buildout/croot/packaging_1698805390494/work
pickle-mixin==1.0.2
platformdirs @ file:///work/perseverance-python-buildout/croot/platformdirs_1701732573265/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
requests @ file:///croot/requests_1707355572290/work
scikit-learn==1.4.1.post1
scipy==1.12.0
setuptools==69.2.0
threadpoolctl==3.4.0
urllib3 @ file:///work/perseverance-python-buildout/croot/urllib3_1698845837793/work
Werkzeug==3.0.1